/* pagina acerca de nosotros */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #fbc827;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* header */

/* pagina acerca de nosotros */
/* pagina error 404 */
.botonMenu{
    background-color:#fbc827;
}
.divBotonMenu{
background-color: #3e3e3e;
}