/* pagina acerca de nosotros */
.sliderNosotros{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.tamañoImg{
    width: 100px;
    height: 100px;
}
/* pagina acerca de nosotros */
/* pagina error 404 */
.botonMenu{
    background-color:#fbc827;
}
.divBotonMenu{
background-color: #3e3e3e;
}